@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .t-panel {
    @apply
      border
      rounded-[6px]
      border-opacity-[0.28]
      border-outline
    ;
  }

  .t-btn {
    @apply
      bg-grey
      bg-opacity-[0.06]
      text-[strong]
      !shadow-none
      normal-case
    ;
  }
}


html, body {
  font-family: "Inter";
  line-height: 1.2;
}

body {
  margin: 3rem;
}
